body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.container {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 450px;
    width: 350px;
    overflow: hidden;
    box-shadow: 0 0 10px #00000030;
}

.agregar-tarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    gap: 20px;
    letter-spacing: 2px;
    background: linear-gradient(150deg, #5C7CE7, #AC60FF);
}

.agregar-tarea p {
    color: #fff;
}

.agregar-tarea div {
    display: flex;
    gap: 20px;
}

.agregar-tarea div input {
    border-radius: 5px;
    border: none;
    outline: none;
    height: 24px;
    padding-left: 10px;
}

.agregar-tarea div button {
    cursor: pointer;
    height: 24px;
    width: 90px;
    border-radius: 5px;
    border: 1px solid #3b69ff;
    color: #3b69ff;
    background-color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    transition: color .1s, background .1s;
}

.agregar-tarea div button:hover {
    color: #fff;
    background-color: #3b69ff;
}

.tareas {
    position: relative;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    height: 70%;
    gap: 20px;
    padding: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
}